# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy ASP.Net Core app to Azure Web App - bdsagroup17chirpremotedb

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Restore
        run: dotnet restore src/Chirp.Web/Chirp.Web.csproj

      - name: Build
        run: dotnet build src/Chirp.Web/Chirp.Web.csproj -c Release --no-restore

      - name: Run unit and integration tests
        run: |
          dotnet test test/Chirp.Repositories.Tests -c Release --no-build --verbosity normal
          dotnet test test/Chirp.IntegrationTests -c Release --no-build --verbosity normal

      - name: Publish
        run: dotnet publish src/Chirp.Web/Chirp.Web.csproj -c Release -o ${{ env.DOTNET_ROOT }}/myapp

      - name: Upload artifact for deployment
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{ env.DOTNET_ROOT }}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: .net-app
          path: ./package
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_C62D84CB5EA94F4CA425E6224D1921BF }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4A098FE1861E49B890AA596816876395 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_29F9127C6AE14F8A8CBCCEBA05ECEE8A }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'bdsagroup17chirpremotedb'
          slot-name: 'Production'
          package: ./package
